#logo{
    width: 200px;
    height: 80px;
    position: relative;
    left: 70%;
   top:1%; 
}

*{
    box-sizing : border-box;
    
}

#mundia21{
    margin-top: -10px;
}

aside{
    position: absolute;
    top: 0;
    bottom : 0;
    background : lightgrey;
    min-width : 250px;
}
nav.menu{
    height: 50px;
    border-radius: 5px;
    background-color: none;
    width: 200px;
    margin-left: 5%;
    font-family: sans-serif;
    
}
.menu a{
    border-bottom: 1px solid grey;
    padding: 20px;
    text-decoration: none;
    font-weight: ;
    margin: 2px;
    color: black;
    display: block;
}

.menu a:hover{
    color: orangered;
}
.menu a:visited{
    color: blue;
    width: 100%;
}

section{
    position: absolute;
    float: right;
    left: 25%;
    z-index:-1;
    min-width : 400px;
}

section h2{
    color: skyblue;
    letter-spacing: 1px;
    font-size: 2em;
    margin-left: 22%;
}

section p{
    float: left;
    width: 900px;
    text-align: justify;
    padding: 20px;
    font-family: sans-serif;
}

section :target{
    background : skyblue;
    border-radius : 20px;
}

h4 {
    color: skyblue;
    font-size: 30px;
    margin-left: 30%;
    margin-bottom: -10px;
}